body{
  margin: 0px;
  padding: 0px;
  background: linear-gradient(#BAC2FB, #7EE9F2);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.box{
  box-shadow: 0px 0px 5px 1px silver;
  flex-direction: column;
  height: 400px;
  display: flex;
  width: 300px;
  border-radius:8px; 
  background-color: white;
  margin-top: -100px;
}
.login{
background: linear-gradient(to right,#4F56FF, #7EE9F2);
padding: 10px;
border-radius: 20px;
width: 70px;
}
.sign{
  background-color:#EDEBEF;
  padding: 10px;
  border-radius: 20px;
  width: 70px;
  margin-left: 10px;
}
.login a,.sign a{
  text-decoration: none;
  font-weight:bold;
}
.hhhh{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top:20px;
}
.login a{
  color: white;
}
.sign a{
  color:black;
}
.box input{
  width: 250px;
  height: 40px;
  background: #DEDEDE;
  border:none;
  padding: 10px;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 15px;
  border-radius: 5px;
}
button{
  margin-top: 30px;
  width: 275px;
  background: linear-gradient( to right, #FF4F90, #4143FF);
  padding: 7px;
  border: none;
  color: white;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  font-size: 20px;
}
.account a{
  text-decoration: none;
}
.account{
    margin-bottom: 10px;

}
.arrow {
  margin-top: 30px;
  padding-left: 15px;
  background-color: #4336FC;
  height: 30px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content:center;
  
}
  
.arrow a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
}
.arrow i{
  color: white;
}